body {
    margin: 0;
    color: #D9E0EE;
    font-family: 'JetBrains Mono', 'monospace';
    background-color: #1E1E1E;
}

.title {
    text-align: center;
    font-size: 40px;
}

.subtitle {
    text-align: center;
    font-size: 25px;

}

.profilepicture {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 10%;
    width: 10%;

}

.blog {
    color: #D9E0EE;
    background-color: #1E1E1E;
    font-size: 20px;
    margin: auto;
    width: 50%;
    padding: 5px;
}

.links {
    color: #8aacab;
}